body{

    background-color: #E4ECEC;
}
.perfil{
    height: -150px;
    width: -150px;
}
  header{
    background-image: url("../assets/img/fondo.jpg");
    background-size: cover;
    background-position: center;
  }

.contenido{
    display: flex;
   
}
.formacion{
    text-align: center;
    color: black;
}
.iconos{
    font-size: 70px;
}
.proyectos{
    background-color: rgb(228, 236, 236);
    height: 2900px;
    
}

